@import '@styles/_variables';

.status-waiting {
  @include container;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  gap: 10px;
  flex-grow: 1;

  &__title {
    @include inter('semi');
    font-size: 22px;
  }
  &__text {
    color: var(--color-text4);
  }
}
